<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<section th:object="${user}">
    <dl>
        <dt th:text="#{USERNO}"></dt>
        <dd th:text="*{userNo}"></dd>
    </dl>
    <dl>
        <dt th:text="#{USERID}"></dt>
        <dd th:text="*{userId}"></dd>
    </dl>
    <dl>
        <dt th:text="#{USERNM}"></dt>
        <dd th:text="*{userNm}"></dd>
    </dl>
    <dl>
        <dt th:text="#{EMAIL}"></dt>
        <dd th:text="*{email}"></dd>
    </dl>
    <dl>
        <dt>가입일자</dt>
        <dd th:text="*{regDt}"></dd>
    </dl>
</section>
</html>